.App {
  display: grid;
  grid-template-columns: 4fr repeat(13, 0.4fr) 4fr;
  grid-template-rows: max-content;
  grid-gap: 16px;
}
.box1 {
  grid-column-start: 2;
  grid-column-end: 15;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 1em;
  align-self: center;
}
.box2 {
  grid-column-start: 2;
  grid-column-end: 15;
  grid-row-start: 3;
  grid-row-end: 5;
  align-self: center;
  grid-row: unset;
}
.box3 {
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 7;
  align-self: center;
  justify-self: start;
}
.box15 {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 5;
  grid-row-end: 7;
  align-self: center;
  justify-self: end;
}
.box4 {
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 8;
  grid-row-end: 16;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}
.box5 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 12;
  grid-row-end: 13;
  grid-row-gap: 122px
}
.box6 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 13;
  grid-row-end: 14;
}
.box7 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 13;
  grid-row-end: 14;
}
.box8 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 14;
  grid-row-end: 15;
}
.box9 {
  grid-column-start: 6;
  grid-column-end: 14;
  grid-row-start: 9;
  grid-row-end: 18;
  border: 1px solid black;
  border-radius: 5px;
  background: #f7f7f7;
}
.box10 {
  grid-column-start: 10;
  grid-column-end: 14;
  grid-row-start: 10;
  grid-row-end: 13;
  border: 1px solid black;
  background: #c6c6c6;

}
.box11 {
  grid-column-start: 11;
  grid-column-end: 13;
  grid-row-start: 13;
  grid-row-end: 14;

}
.box12 {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 18;
  grid-row-end: 19;

}
.box13 {
  grid-column-start: 2;
  grid-column-end: 15;
  grid-row-start: 19;
  grid-row-end: 21;
}
.box14 {
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 8;
  grid-row-end: 11;
  padding: 1em;
}

.App-logo {
  height: 3em;
}

#cardholderName {
  font-size: 110%;
}
#cardNumber {
  font-size: 130%;
}
#month {
  font-size: 110%;
  text-align: center;
}
#year {
  font-size: 110%;
  text-align: center;
}
#CVC {
  font-size: 110%;
  text-align: center;
}
#BankLogo {
  width: 50%;
}
.Text{
  font-size: 150%;
}
.Sum {
  font-size: 150%;
}